body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
}

.App {
  text-align: center;
}

.menu {
  background-color: rgba(255, 255, 255, 0.651);
  /*color: #fffd96;*/
  width: 20vw;
  height: 60vh;
  border: 0;
  border-radius: 25px;
  padding: 5rem;
  z-index: 10;
  position: fixed;
  transform: translate(25px, 25px);
}

#sky-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#sun {
  /*background-color: gold;*/
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 100%;
  position: absolute;
  transform: translate(80vw, 40vh);
  z-index: 5;
    cursor: grab;
}

#sun:active {
    cursor: grabbing;
}

/*$primary1: rgba(255, 196, 0, 0.8);
$primary2: rgba(255, 196, 0, 0);*/

#sky-colour-primary {
  /*background-image: radial-gradient($primary1, $primary2);*/
  position: inherit;
  transform: translate(-50%, -50%);
  height: 200vh !important;
  width: 200vw !important;;
  z-index: 4;
}

/* SASS/SCSS Variables:

$secondary1: rgba(255, 0, 179, 0);
$secondary2: rgba(255, 0, 179, 0.5);*/


#sky-colour-secondary {
  position: absolute;
  width: 100vw;
  height:100vh;
  /*background-image: linear-gradient($secondary1, $secondary2);*/
  z-index: 2;
}

.cloud {
  height: 20rem;
  width: 20rem;
  position: absolute;
  transform: translate(-25vw, 35vh);
  z-index: 3;
}

#huge-cloud {
  height: 30rem;
  width: 30rem;
  transform: translate(20vw, 40vh);
}

#big-cloud {
  height: 25rem;
  width: 25rem;
  transform: translate(0vw, -5vh);
}

#med-cloud {
  height: 17rem;
  width: 17rem;
  transform: translate(-55vw, 62vh);
}

#small-cloud {
  height: 15rem;
  width: 15rem;
  transform: translate(-41vw, 2vh);
}

#tiny-cloud {
  height: 10rem;
  width: 10rem;
  transform: translate(10vw, 55vh);
}