body {
  font-family: "Avantgarde", sans-serif;
  color: rgb(118, 49, 163);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Rubik Bubbles", "Blippo", sans-serif;
  font-size: 2em;
  line-height: 0.5em;
}

button {
  padding-top: 0.6em;
  font-family: "Rubik Bubbles", "Blippo", sans-serif;
  font-size: 1.7em;
}

#button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-image: url('components/imgs/cloud.svg');
  height: 11rem;
  width: 11rem;
  transform: translate(45vw, 75vh);
  z-index: 10;
}

.menu-button {
    height: 100%;
    width: 100%;
    border: 0;
    z-index: 15;
    position: inherit;
    color: rgb(118, 49, 163);
    background-color: transparent;
  }

nav {
  width: 0;
  height: 0;
}

input {
  padding: .2em;
}

.menu-contents {
  display: none;
}

.menu-expanded {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  transform: translate(25px, 25px);
  width: 20vw;
  padding: 2.5rem 5rem;
  background-color: rgba(255, 255, 255, 0.651);
  height: 45vh;
  border: 0;
  border-radius: 25px;
}

.menu-expanded .menu-contents {
  display: inline-block;
  z-index: 10;
}

#sky {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#star-div {
  position: absolute;
  transform: translate(0, 0);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.stars {
  background-image: url('components/imgs/stars.png');
  background-repeat: repeat;
}

#sun {
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 100%;
  position: inherit;
  transform: translate(98.5vw, 97vh);
  z-index: 6;
  cursor: grab;
}

#sun:active {
  cursor: grabbing;
}

#sky-colour-primary {
  position: absolute;
  height: 200vh !important;
  width: 200vw !important;;
  z-index: 5;
}

#sky-colour-secondary {
  position: absolute;
  width: 100vw;
  height:100vh;
  z-index: 2;
}

.cloud {
  pointer-events: none;
  height: 20rem;
  width: 20rem;
  position: absolute;
  transform: translate(-25vw, 35vh);
  z-index: 7;
}

#huge-cloud {
  height: 30rem;
  width: 30rem;
  transform: translate(20vw, 40vh);
}

#big-cloud {
  height: 25rem;
  width: 25rem;
  transform: translate(0vw, -5vh);
}

#med-cloud {
  height: 17rem;
  width: 17rem;
  transform: translate(-55vw, 62vh);
}

#small-cloud {
  height: 15rem;
  width: 15rem;
  transform: translate(-41vw, 2vh);
}

#tiny-cloud {
  height: 10rem;
  width: 10rem;
  transform: translate(10vw, 55vh);
}

/*          ----------     Media Screens     ----------          */

@media (min-width: 1200px) and (min-height: 1000px) {
  .cloud-cover {
    padding: 5.5rem 0 0 13.5rem;
  }
}

@media (max-width: 850px) {

  button {
    font-size: 1.5em;
  }

  #button-div {
    height: 10rem;
    width: 10rem;
    transform: translate(73vw, 3vh);
  }

  .menu-expanded {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 25px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    transform: translate(9.5%, 120%);
    padding: 1rem;
    padding-top: 0.5rem;
    height: fit-content;
  }

  input {
    flex-grow: 1;
    flex-basis: 100%;
    margin: .7em;
    border: 0;
    height: 1em;
    padding: 0;
  }

  button {
    flex-basis: 100%;
    max-height: 5em;
  }

  br:nth-of-type(even) {
    display: none;
  }

  .cloud {
    height: 15rem;
    width: 15rem;
    transform: translate(0vw, 35vh);
  }
  
  #huge-cloud {
    height: 13rem;
    width: 13rem;
    transform: translate(-55vw, 50vh);
  }
  
  #big-cloud {
    height: 12rem;
    width: 12rem;
    transform: translate(-35vw, 5vh);
  }
  
  #med-cloud {
    transform: translate(30vw, 50vh);
  }
  
  #small-cloud {
    height: 7rem;
    width: 7rem;
    transform: translate(20vw, 75vh);
  }
  
  #tiny-cloud {
    height: 7rem;
    width: 7rem;
    transform: translate(-43vw, 22vh);
}
}
@media (max-width: 500px) {

  button {
    font-size: 1em;
  }

  #button-div {
    height: 6rem;
    width: 6rem;
    transform: translate(67vw, 2vh);
  }

  .menu-contents {
    display: none;
  }
  
  .menu-expanded {
    transform: translate(14%, 170%);
    width: 60%;
    padding: 2.5rem;
    padding-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.651);
    height: 30%;
    border: 0;
    border-radius: 25px;
  }

  input {
    margin: .7em;
    border: 0;
    height: 1em;
    padding: 0;
  }

  br:nth-of-type(even) {
    display: none;
  }

  p {
    line-height: 0px;
    margin: 0;
    padding: 0;
  }

  .cloud {
    height: 7rem;
    width: 7rem;
  }
  
  #huge-cloud {
    height: 13rem;
    width: 13rem;
  }
  
  #big-cloud {
    height: 10rem;
    width: 10rem;
  }
  
  #med-cloud {
    height: 4rem;
    width: 4rem;
  }
  
  #small-cloud {
    height: 3rem;
    width: 3rem;
    transform: translate(40vw, 80vh);
  }
  
  #tiny-cloud {
    height: 3rem;
    width: 3rem;
  }
}


@media (max-width: 500px) {
    
  .menu-expanded {
    text-align: center;
    position: absolute;
    transform: translate(0%, 165%);
    width: 100%;
    padding: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.651);
    height: fit-content;
    border: 0;
    border-radius: 0;
  }

}